<div class="container-fluid w-100">

    <div class="row w-100 mt-4 mb-2 ">
        <div class="col-md-12">
            <h1 class="text-center lm mb-0">Bem vindes ao Wabis!</h1>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img class="img-fluid w-75" src="\assets\people.jpg">

            </div>
        </div>
        <div class="jumbotron jumbotron-fluid mb-0 w-100 bg-jumbo mt-3">

            <h1 class="display-5 mb-4 text-center ">O que você encontra no Wabis:</h1>

            <div class="row d-flex justify-content-center ">

                <!--Card-->
                <div class="card bg-jumbo m-4 " style="width: 18rem; border: none!important;">
                    <img src="\assets\icons\avaliacao.png" class="card-img-top  w-75 rounded mx-auto d-block" alt="...">
                    <div class="card-body b-0 ">

                    </div>
                </div>
                <!--;Card-->

                <!--Card-->
                <div class="card bg-jumbo m-4" style="width: 18rem; border: none!important;">
                    <img src="\assets\icons\feedback.png" class="card-img-top w-75 rounded mx-auto d-block" alt="...">
                    <div class="card-body b-0">

                    </div>
                </div>

                <!--Card-->
                <div class="card bg-jumbo m-4" style="width: 18rem; border: none!important;">
                    <img src="\assets\icons\empresa.png" class="card-img-top w-75 rounded mx-auto d-block" alt="...">
                    <div class="card-body b-0">

                    </div>
                </div>

                <div class="col-md-12 w-100 d-flex justify-content-center">
                    <button class="btn btn-light text-uppercase shadow font-weight-bold"
                        routerLink='/cadastro'>Cadastre-se</button>
                </div>

            </div>


        </div>
        <!--Depoimentos-->
        <div class="row m-5">
            <div class="col-md-4">
                <div class="card shadow mb-3">
                    <img class="card-img-top "
                        src="https://t3.ftcdn.net/jpg/01/41/80/82/240_F_141808228_2Ww5avhtfRbhqNt4rkqO2k8dom52AbD2.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Beatriz</h5>
                        <p class="card-text">"Graças ao sistema Wabis encontrei um lugar que atendesse minha
                            necessidade."</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow mb-3">
                    <img class="card-img-top "
                        src="https://t4.ftcdn.net/jpg/03/83/18/53/240_F_383185341_Ut2N8z2HwAmHjpaWztj5BwkNECAuR8nl.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Andreza</h5>
                        <p class="card-text">"Sou muito grata a Wabis por ter feito eu encontrar meu primeiro emprego."
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow mb-3">
                    <img class="card-img-top "
                        src="https://t3.ftcdn.net/jpg/03/83/18/90/240_F_383189037_fwfTpqO2pQwjX4P66du4cQTLhFholzuG.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kaori </h5>
                        <p class="card-text">"A comunidade foi muito importante para eu me preparar para entrevistas"
                        </p>
                    </div>
                </div>
            </div>



        </div>
        <!--/Depoimentos-->

        <div class="jumbotron jumbotron-fluid mb-0 w-100 bg-light p-5">

            



            <div class="row d-flex">

                <div class="text-justify col-md-6">
                    <h1 class="display-4">Juntos podemos mais!</h1>
                    <p>A Wabis acredita que apenas o trabalho coletivo possibilita a construção de um ambiente seguro e
                        inclusivo para todos. </p>
                    <p>Nosso objetivo é dar espaço para que profissionais com deficiência avaliem empresas que já
                        trabalharam e compartilhem suas experiências profissionais. </p>
                    <p>Através desses feedbacks, as empresas poderão promover mudanças significativas e desenvolver cada
                        vez mais a cultura inclusiva no mercado de trabalho.</p>

                </div>
                <div class="col-md-1"></div>

                <div class="col-md-4 ml-3 mb-3 d-flex justify-content-center">
                    <img class="card-img-top tm-img "
                        src="\assets\logoWabis.png"
                        alt="Logo da Wabis">
                </div>
                
                <div class="col-md-12 w-100 mb-3 d-flex justify-content-center">
                    <button class="btn btn-outline-dark text-uppercase shadow font-weight-bold"
                        routerLink='/sobrenos'>Conheça
                        nosso time</button>
                </div>

            </div>




        </div>
    

    </div>