<!--Jumbotrom-->
<div class="jumbotron jumbotron-fluid mb-0 w-100 bg-light p-5">



    <div class="row d-flex align-content-center justify-content-center">



        <div class="col-md-6">

            <h1 class="display-4">Nossa origem</h1>

            <p>A Wabis nasceu em 2020, quando um grupo de desenvolvedores escolheu lutar por um mercado de trabalho
                inclusivo e fomentar a diversidade no mercado de trabalho.</p>
            <p>Além de atender dois Objetivos de Desenvolvimento Sustentável (ODS) da Agenda ONU 2030, nossa rede social
                busca gerar impacto através da tecnologia.
            </p>
            <p>Clique nas imagens ao lado para saber mais sobre os Objetivos de Desenvolvimento Sustentável.</p>

        </div>

        <div class="col-md-6 d-flex d-flex align-content-center justify-content-center">

            <a href="https://brasil.un.org/pt-br/sdgs/8" target="/blank"> <img class="m-2 card-img-top tm-img "
                    src="https://i.imgur.com/GHp9Ayx.png"
                    alt="Imagem representativa do oitavo objetivo da ONU: Trabalho decente e crescimento econômico"></a>



            <a href="https://brasil.un.org/pt-br/sdgs/10" target="/blank"> <img class="m-2 card-img-top tm-img "
                    src="https://i.imgur.com/3oc9agJ.png"
                    alt="Imagem representativa do decimo objetivo da ONU: Redução da desigualdade."></a>


        </div>


    </div>

</div>

<!--/Jumbotrom-->

<section class="pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Confira nosso incrível time!</h3>
            </div>



            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <span><</span>
                </a>
                <a class="btn btn-primary mb-3" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <span>></span>
                </a>
            </div>

            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">

                                    <div class="card shadow-sm">
                                        <img class="card-img-top " src="https://i.imgur.com/i8zsq29.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Eduardo Freitas</h5>
                                            <p class="card-text">DESENVOLVEDOR WEB JAVA JR.</p>
                                            <a href="https://github.com/edudsfreitas" target="/blank"
                                                class="btn btn-dark">GitHub</a>
                                            <a href="https://www.linkedin.com/in/edu-freitas/" target="/blank"
                                                class="btn btn-linkedin ml-3">LinkedIn</a>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4 mb-3">

                                    <div class="card shadow-sm">
                                        <img class="card-img-top " src="https://i.imgur.com/A1ZdGoJ.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Fernanda Dias</h5>
                                            <p class="card-text">DESENVOLVEDORA WEB JAVA JR.</p>
                                            <a href="https://github.com/diasfernanda" target="/blank"
                                                class="btn btn-dark">GitHub</a>
                                            <a href="https://www.linkedin.com/in/fernanda-dias-644647201/"
                                                target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-4 mb-3">

                                    <div class="card shadow-sm">
                                        <img class="card-img-top " src="https://i.imgur.com/PG2FXob.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Gisele Carvalho</h5>
                                            <p class="card-text">DESENVOLVEDORA WEB JAVA JR.</p>
                                            <a href="https://github.com/giselescarvalho" target="/blank"
                                                class="btn btn-dark">GitHub</a>
                                            <a href="https://www.linkedin.com/in/gisele-da-silva-carvalho"
                                                target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">

                                    <div class="card shadow-sm">
                                        <img class="card-img-top " src="https://i.imgur.com/MhIAaOT.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Guilherme Melo</h5>
                                            <p class="card-text">DESENVOLVEDOR WEB JAVA JR.</p>
                                            <a href="https://github.com/Guifamelo" target="/blank"
                                                class="btn btn-dark">GitHub</a>
                                            <a href="https://www.linkedin.com/in/guilherme-faria-de-melo"
                                                target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4 mb-3">

                                    <div class="card shadow-sm">
                                        <img class="card-img-top "
                                            src="https://images-ext-2.discordapp.net/external/ZDH8NCw9wLUmO5Dx2yxivQo5PEPO9RlxAT_cuI4cgbA/%3Fs%3D460%26u%3D041307022551b788b135056e61cc355f191fd002%26v%3D4/https/avatars1.githubusercontent.com/u/72407277?width=406&height=406"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Israel Simplicio</h5>
                                            <p class="card-text">DESENVOLVEDOR WEB JAVA JR.</p>
                                            <a href="https://github.com/Israel0101" target="/blank"
                                                class="btn btn-dark">GitHub</a>
                                            <a href="https://www.linkedin.com/in/israel-simplicio-8700011b9/"
                                                target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4 mb-3">

                                    <div class="card shadow-sm">
                                        <img class="card-img-top " src="https://i.imgur.com/3Ukt2a4.png"
                                            alt="Rapaz com barba usando fone de ouvido.">
                                        <div class="card-body">
                                            <h5 class="card-title">Nicolas Neuwirt</h5>
                                            <p class="card-text">DESENVOLVEDOR WEB JAVA JR.</p>
                                            <a href="https://github.com/Niiicks" target="/blank"
                                                class="btn btn-dark">GitHub</a>
                                            <a href="https://www.linkedin.com/in/nicolas-neuwirt/" target="/blank"
                                                class="btn btn-linkedin ml-3">LinkedIn</a>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div>
            <h5 class="text-center">Cada um com seu jeitinho especial e colaborativo, fomos todos importantes para o
                time.</h5>
        </div>

    </div>

</section>